@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,900);
@import url(http://fonts.googleapis.com/css?family=Lato:400,900);

body {
    background: #007EB3;
    color: #384452;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

p {
    padding: 0;
    margin-bottom: 12px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #384452;
    margin-top: 10px;
}

img {
    height: auto;
    max-width: 100%;
}

a {
    text-decoration: none;
}

.form-control, .btn, .btn-lg, .btn-default:hover, .btn-default:focus, .btn-default:active,
.btn-default.active, .open .dropdown-toggle.btn-default {
    border-radius: 0px;
    border: none;
    border-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/*::-moz-selection {*/
    /*color: #fff;*/
    /*text-shadow: none;*/
    /*background: #F1C40F;*/
/*}*/

/*::selection {*/
    /*color: #fff;*/
    /*text-shadow: none;*/
    /*background: #F1C40F;*/
/*}*/

.centered {
    text-align: center
}

.navbar {
    min-height: 70px;
    padding-top: 10px;
    margin-bottom: 0px;
    /*margin-top: 2px;*/
}

.navbar-brand {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 25px;
}

.navbar-header .navbar-brand {
    color: #ECF0F1;
}

.navbar-default .navbar-nav > li > a {
    color: #ECF0F1;
    font-weight: 700;
    font-size: 12px;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #ECF0F1;
    background-color: transparent;
}

.navbar-default {
    background-color: #384452;
    border-color: transparent;
}

#headerwrap {
    background-color: #00b3fe;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    margin-top: 70px;
}

#resultwrap {
    display: none;
    background-color: #ECF0F1;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    word-wrap: break-word;
}

#resultwrap h1, #resultwrap .h1, #resultwrap h2, #resultwrap .h2, #resultwrap h3, #resultwrap .h3 {
    margin-top: 20px;
    margin-bottom: 20px;
}

#mainsec {
    /*color: #ECF0F1;*/
    background-color: #00b3fe;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    margin-top: 70px;
}

.footer {
    /*height: 150px;*/
    color: #ECF0F1;
    /*background-color: #34495e;*/
    /*padding-top: 50px;*/
    /*padding-bottom: 50px;*/
    text-align: center;
}

.footer a {
    color: #00b3fe;
    text-decoration: none;
}

.footer p {
    color: #ECF0F1;
}

.margin-top-sm {
    margin-top: 20px;
}

.margin-top-md {
    margin-top: 80px;
}

.margin-btm-sm {
    margin-bottom: 20px
}

.seq-selector {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

/*replace nprogress colour*/
#nprogress .bar {
    background: #29d;
    z-index: 1031;
}

#nprogress .peg {
    box-shadow: 0 0 10px #29d, 0 0 5px #29d;
}

#nprogress .spinner-icon {
    border-top-color: #29d;
    border-left-color: #29d;
}

.form-control {
    margin-top: 8px;
    margin-bottom: 8px;
}

#buildit {
    background: #ECF0F1;
    color: #34495e;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 25px;
}

#downloadit {
    margin: 32px;
    background: #00b3fe;
    color: #ECF0F1;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 25px;
}

#saveit {
    background: #00b3fe;
    color: #ECF0F1;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 25px;
}

.tooltipper {
    position: absolute;
    display: inline-block;
    min-width: 5em;
    padding: .5em;
    background: #F4C63D;
    color: #453D3F;
    font-weight: 700;
    text-align: center;
    pointer-events: none;
    z-index: 1;
}

.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
    float: left;
}

.navbar .mega-octicon {
    color: #ECF0F1;
    padding: 15px;
    line-height: 20px;
    height: 50px;
}

.modal-header h4, .modal-header .h4 {
    color: #34495e;
    text-align: center;
}

#saveModal .btn {
    background: #00b3fe;
    color: #ECF0F1;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 25px;
}

#saveModal .form-control {
    border: 1px solid #00b3fe;
}

.modal-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 25px;
}

.fake-button:hover {
    cursor: pointer;
}

.navbar-img {
    height: 25px;
    width: auto;
}

.partType {
    text-transform: uppercase;
}

.alert {
    border-radius: 0;
    border: none;
}

.alert-primary {
    background-color: #2980b9;
    color: #FFF;
}

.alert-success {
    background-color: #1abc9c;
    color: #FFF;
}

.alert-info {
    background-color: #3498db;
    color: #FFF;
}

.alert-warning {
    background-color: #f1c40f;
    color: #000;
}

.alert-danger {
    background-color: #e74c3c;
    color: #FFF;
}

.close {
    opacity: 1;
}

/*HACKS*/
.col-sm-fifth {
    width: 100%;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-fifth {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-sm-fifth {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-sm-fifth {
        width: 20%;
        float: left;
    }
}

.col-sm-seventh {
    width: 100%;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-seventh {
        width: 14.2857142857%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-sm-seventh {
        width: 14.2857142857%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-sm-seventh {
        width: 14.2857142857%;
        float: left;
    }
}

/*for picker*/

.green {
    padding: 4px;
    margin: 2px;
    background-color: #2ecc71;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    word-wrap: break-word;
}

.greentoblue {
    padding: 4px;
    margin: 2px;
    background: #2ecc71; /* Old browsers */
    background: -moz-linear-gradient(left, #2ecc71 0%, #3498db 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #2ecc71), color-stop(100%, #3498db)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #2ecc71 0%, #3498db 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #2ecc71 0%, #3498db 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #2ecc71 0%, #3498db 100%); /* IE10+ */
    background: linear-gradient(to right, #2ecc71 0%, #3498db 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2ecc71', endColorstr='#3498db', GradientType=1); /* IE6-9 */

    text-transform: uppercase;
    color: #fff;
    text-align: center;
    word-wrap: break-word;
}

.blue {
    padding: 4px;
    margin: 2px;
    background-color: #3498db;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    word-wrap: break-word;
}

.yellow {
    padding: 4px;
    margin: 2px;
    background-color: #f1c40f;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    word-wrap: break-word;
}

.orange {
    padding: 4px;
    margin: 2px;
    background-color: #e67e22;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    word-wrap: break-word;
}

.red {
    padding: 4px;
    margin: 2px;
    background-color: #e74c3c;
    color: #fff;
    text-align: center;
    word-wrap: break-word;
}

.gate {
    padding: 10px;
    margin: 10px;
    background-color: #34495e;

    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.gate:hover {
    background-color: #fff;
}

.purple {
    padding: 4px;
    margin: 2px;
    background-color: #9b59b6;
    color: #fff;
    text-align: center;
    word-wrap: break-word;
}

.green p, .red p, .blue p, .greentoblue p {
    text-align: center;
    margin: 0;
    padding: 4px;
    font-size: 16px;
}

.navmargin {
    margin-top: 70px;
}

.tagType {
    background-color: #ECF0F1;
    margin-bottom: 10px;
    /*border: solid #222222 1px;*/

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tagType h2 {
    color: #ECF0F1;
    padding: 10px;
    background-color: #2980B9;
    margin: 0;
    cursor: pointer;
}

.toggle-section {
    display: none;
    padding-bottom: 10px;
}

.toggle-section a {
    text-decoration: none;
    color: #2980B9;
}

.toggle-section a:hover {
    color: #34495E;
}

.caret {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

.caret-active {
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}


.ct-chart .ct-series.ct-series-a .ct-bar, .ct-chart .ct-series.ct-series-a .ct-line, .ct-chart .ct-series.ct-series-a .ct-point, .ct-chart .ct-series.ct-series-a .ct-slice.ct-donut {
    stroke: #1ABC9C;
}

.ct-chart .ct-series.ct-series-b .ct-bar, .ct-chart .ct-series.ct-series-b .ct-line, .ct-chart .ct-series.ct-series-b .ct-point, .ct-chart .ct-series.ct-series-b .ct-slice.ct-donut {
    stroke: #2ECC71;
}

.ct-chart .ct-series.ct-series-c .ct-bar, .ct-chart .ct-series.ct-series-c .ct-line, .ct-chart .ct-series.ct-series-c .ct-point, .ct-chart .ct-series.ct-series-c .ct-slice.ct-donut {
    stroke: #3498DB;
}

.ct-chart .ct-series.ct-series-d .ct-bar, .ct-chart .ct-series.ct-series-d .ct-line, .ct-chart .ct-series.ct-series-d .ct-point, .ct-chart .ct-series.ct-series-d .ct-slice.ct-donut {
    stroke: #9B59B6;
}

.ct-chart .ct-series.ct-series-e .ct-bar, .ct-chart .ct-series.ct-series-e .ct-line, .ct-chart .ct-series.ct-series-e .ct-point, .ct-chart .ct-series.ct-series-e .ct-slice.ct-donut {
    stroke: #34495E;
}

.ct-chart .ct-series.ct-series-f .ct-bar, .ct-chart .ct-series.ct-series-f .ct-line, .ct-chart .ct-series.ct-series-f .ct-point, .ct-chart .ct-series.ct-series-f .ct-slice.ct-donut {
    stroke: #F1C40F;
}

.ct-chart .ct-series.ct-series-g .ct-bar, .ct-chart .ct-series.ct-series-g .ct-line, .ct-chart .ct-series.ct-series-g .ct-point, .ct-chart .ct-series.ct-series-g .ct-slice.ct-donut {
    stroke: #E67E22;
}

.ct-chart .ct-series.ct-series-h .ct-bar, .ct-chart .ct-series.ct-series-h .ct-line, .ct-chart .ct-series.ct-series-h .ct-point, .ct-chart .ct-series.ct-series-h .ct-slice.ct-donut {
    stroke: #E74C3C;
}
