@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,900);
@import url(http://fonts.googleapis.com/css?family=Lato:400,900);

* {
    margin: 0;
    padding: 0px;
}

html, body {
    height: 100%;
}

body {
    background: #00b3fe;
    /*background: #00b3fe;*/
    margin: 0;
    height: 100%;
    color: #384452;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

#bodywrap {
    min-height: 100%;
}

#main {
    overflow: auto;
    padding-bottom: 150px; /* this needs to be bigger than footer height*/
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

p {
    padding: 0;
    margin-bottom: 12px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #384452;
    margin-top: 10px;
}

img {
    height: auto;
    max-width: 100%;
}

a {
    text-decoration: none;
}

::-moz-selection {
    color: #fff;
    text-shadow: none;
    background: #2B2E31;
}

::selection {
    color: #fff;
    text-shadow: none;
    background: #2B2E31;
}

.centered {
    text-align: center
}

.navbar {
    min-height: 70px;
    padding-top: 10px;
    margin-bottom: 0px;
    /*margin-top: 2px;*/
}

.navbar-brand {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 25px;
}

.navbar-header .navbar-brand {
    color: white;
}

.navbar-default .navbar-nav > li > a {
    color: white;
    font-weight: 700;
    font-size: 12px;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: white;
    background-color: transparent;
}

.navbar-default {
    background-color: #384452;
    border-color: transparent;
}

#headerwrap {
    background-color: #00b3fe;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    margin-top: 70px;
}

#resultwrap {
    display: none;
    background-color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    word-wrap: break-word;
}

#resultwrap h1, #resultwrap .h1, #resultwrap h2, #resultwrap .h2, #resultwrap h3, #resultwrap .h3 {
    margin-top: 20px;
    margin-bottom: 20px;
}

#footerwrap {

    position: relative;
    margin-top: -150px; /* negative value of footer height */
    height: 150px;
    clear: both;

    color: white;
    background-color: #34495e;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

#footerwrap a {
    color: #00b3fe;
    text-decoration: none;
}

#footerwrap p {
    color: white;
}

#headerwrap h3, h5 {
    color: white;
    font-weight: 400;
}

#headerwrap h1 {
    color: white;
    margin-bottom: 25px;
}

#headerwrap .img-responsive {
    margin: 0 auto;
}

.margin-top-sm {
    margin-top: 20px;
}

.margin-top-md {
    margin-top: 80px;
}

.margin-btm-sm {
    margin-bottom: 20px
}

.seq-selector {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

/*replace nprogress colour*/
#nprogress .bar {
    background: #29d;
    z-index: 1031;
}

#nprogress .peg {
    box-shadow: 0 0 10px #29d, 0 0 5px #29d;
}

#nprogress .spinner-icon {
    border-top-color: #29d;
    border-left-color: #29d;
}

.form-control {
    margin-top: 8px;
    margin-bottom: 8px;
}

#buildit {
    background: white;
    color: #34495e;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 25px;
}

#saveit {
    background: #00b3fe;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 25px;
}

.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
    float: left;
}

.navbar .mega-octicon {
    color: white;
    padding: 15px;
    line-height: 20px;
    height: 50px;
}

/*.navbar .mega-octicon:hover {*/
/*color: #00b3fe;*/
/*}*/

.modal-header h4, .modal-header .h4 {
    color: #34495e;
    text-align: center;
}

#saveModal .btn {
    background: #00b3fe;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 25px;
}

#saveModal .form-control {
    border: 1px solid #00b3fe;
}

.modal-title {
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    font-size: 25px;
}

.fake-button:hover {
    cursor: pointer;
}

.navbar-img {
    height: 25px;
    width: auto;
}

.partType {
    text-transform: uppercase;
}



/*HACKS*/
.col-sm-fifth {
    width: 100%;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-fifth {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-sm-fifth {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-sm-fifth {
        width: 20%;
        float: left;
    }
}

.col-sm-seventh {
    width: 100%;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-seventh {
        width: 14.2857142857%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-sm-seventh {
        width: 14.2857142857%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-sm-seventh {
        width: 14.2857142857%;
        float: left;
    }
}
























/*for picker*/

.green {
    padding: 4px;
    margin: 2px;
    background-color: #2ecc71;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    word-wrap: break-word;
}

.greentoblue {
    padding: 4px;
    margin: 2px;
    background: #2ecc71; /* Old browsers */
    background: -moz-linear-gradient(left, #2ecc71 0%, #3498db 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, #2ecc71), color-stop(100%, #3498db)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, #2ecc71 0%, #3498db 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, #2ecc71 0%, #3498db 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, #2ecc71 0%, #3498db 100%); /* IE10+ */
    background: linear-gradient(to right, #2ecc71 0%, #3498db 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2ecc71', endColorstr='#3498db', GradientType=1); /* IE6-9 */

    text-transform: uppercase;
    color: #fff;
    text-align: center;
    word-wrap: break-word;
}

.blue {
    padding: 4px;
    margin: 2px;
    background-color: #3498db;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    word-wrap: break-word;
}

.red {
    padding: 4px;
    margin: 2px;
    background-color: #e74c3c;
    color: #fff;
    text-align: center;
    word-wrap: break-word;
}

.purple {
    padding: 4px;
    margin: 2px;
    background-color: #9b59b6;
    color: #fff;
    text-align: center;
    word-wrap: break-word;
}

.green p, .red p, .blue p, .greentoblue p {
    text-align: center;
    margin: 0;
    padding: 4px;
    font-size: 16px;
}