/*replace nprogress colour*/
#nprogress .bar {
    background: #29d;
}
#nprogress .peg {
    box-shadow: 0 0 10px #29d, 0 0 5px #29d;
}
#nprogress .spinner-icon {
    border-top-color: #29d;
    border-left-color: #29d;
}
#nprogress .spinner-icon {
    border-top-color: #29d;
    border-left-color: #29d;
}